@font-face {
    font-family: 'Wanafi Regular';
    src: url("../fonts/Wanafi.ttf");
}


/* Over rides */
body, html {
    font-family: 'Sans Serif';
    background-color: var(--bg-dark);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    color: var(--fg);
}

/* New elements */
vr {
    border-left:1px solid var(--border-color);
    height: 66%;
}

/* Layouts */
.layout-main {
    display: flex;
    height: 100%;
}
.layout-session {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Search bar area */
.area-search {
    flex: 0 0 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right:20px;
}
input[type=text] {
    height: 40px;
    border-radius: 5px;
    border-color: var(--border-color-emph);
    border-width: 1px;
    background-color: var(--bg-dark);
    color: var(--fg);
    padding-left: 15px;
    width: 50%;
    min-width: 305px;
}
input:focus{
    outline: none;
}
.area-search pre {
    justify-self: flex-end;
}

/* Button area */
.area-button {
    flex: 0 0 64px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    padding: 0 0px;
}

/* Breadcrumb area */
.area-breadcrumb {
    flex: 0 0 28px;
}
.breadcrumbs {
    padding: 0 8px;
    color: var(--fg-subtle);
    user-select: none;

    ol {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
        align-items: center;
    }

    li {
        display: flex;
        align-items: center;

        span {
            padding: 2px 4px;
            border-radius: 8px;
            transition: background-color 0.1s ease-in-out;

            &:hover {
                background-color: var(--bg-light);
                cursor: pointer;
            }
        }

        &:not(:last-child)::after {
            margin: 0 12px;
            content: "\203A";
            font-size: large;
        }

        &:last-child span {
            font-weight: 700;
            color: var(--fg);
            cursor: default;
            background-color: var(--transparent);
        }
    }
}

/* File table area */
.area-files {
    flex: 1;
    min-height: 0;
    overflow: auto;
}

/* All areas have the same margins */
.area-search,
.area-button,
.area-breadcrumb,
.area-files {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

/* Buttons */
.button {
    display: flex;
    background-color: var(--bg-light-hover);
    height: 48px;
    padding: 0 20px;
    align-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    gap: 5px;
}
.button img {
    height: 45%;
}
.button:hover {
    background-color: var(--border-color-emph);
}
