.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0; /* Align it with the left edge of the button */
    margin-top: 4px; /* Give it a little breathing room */

    background-color: var(--bg-dark);
    border: 1px solid var(--border-color-emph);
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);

    display: flex;
    flex-direction: column;
    min-width: 250px;
    z-index: 100;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.1s ease;

    img {
        width: 32px;
        margin-right: 8px;
    }
}

.dropdown-container.active .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-item {
    padding: 12px 16px;
    margin: 0 8px;
    cursor: pointer;
    color: var(--fg);
    display: flex;
    align-items: center;
    transition: background-color 0.1s;
    border-radius: 8px;
    user-select: none;
}

.dropdown-item:first-child {
    margin-top: 8px;
}
.dropdown-item:last-child {
    margin-bottom: 8px;
}

.dropdown-item:hover {
    background-color: var(--bg-light-hover);
}
