.file-table {
    height: 100%;
    overflow-x: auto;

    * {
        user-select: none;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        font-size: small;
        color: var(--fg-subtle);
        table-layout: fixed;
    }

    thead > tr {
        &:hover {
            background-color: var(--transparent) !important;
        }
    }

    tr {
        text-align: left;

        &:hover {
            background-color: var(--border-color);
        }
    }

    th {
        padding: 8px;
        cursor: pointer;
        font-weight: normal;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
            background-color: var(--border-color);
        }

        & > img {
            height: 16px;
            vertical-align: middle;
            padding-right: 6px;
            filter: brightness(0) saturate(100%) invert(60%) sepia(1%) saturate(1539%)
                hue-rotate(28deg) brightness(88%) contrast(98%);
        }
    }

    td {
        padding: 8px;
        border-bottom: 1px solid var(--bg-light);
        margin: 0;
        cursor: pointer;
        vertical-align: middle;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        img {
            vertical-align: middle;
            height: 20px;
            margin-bottom: 4px;
            margin-right: 4px;
        }
    }

    .column-checkbox {
        text-align: center;
    }

    .column-name {
        color: var(--fg);
        font-size: larger;
    }

    input[type='checkbox'] {
        -webkit-appearance: none;
        appearance: none;

        width: 22px;
        height: 22px;
        border-radius: 2px;
        margin: 0 auto;

        background-color: var(--bg-light);
        border: 1px solid var(--fg);

        cursor: pointer;
        display: inline-grid;
        place-content: center;

        &::before {
            content: '';
            width: 14px;
            height: 14px;

            background-image: url('../img/checkbox.svg');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

            transform: scale(0);
            transition: 120ms transform ease-in-out;
        }

        &:checked {
            background-color: var(--fg);
            &::before {
                transform: scale(1);
            }
        }
    }

    /* --- MOBILE --- */
    @media (max-width: 768px) {
        col:nth-child(1) {
            width: 44px !important;
        }

        col:nth-child(2) {
            width: calc(100% - 44px) !important;
        }

        td {
            padding: 12px 8px;
        }
    }
}

.drop-zone-overlay {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border: 3px dashed var(--fg);
    border-radius: 8px;
    transition: opacity 200ms ease-in-out;

    &.hidden {
        display: none;
    }

    .drop-zone-content {
        text-align: center;
        color: var(--fg);

        img {
            height: 64px;
            margin-bottom: 16px;
            filter: brightness(0) saturate(100%) invert(100%);
        }

        p {
            font-size: large;
            font-weight: bold;
            margin: 0 0 8px 0;
        }

        small {
            color: var(--fg-subtle);
            font-size: small;
        }
    }
}
