<div id="context-menu" class="context-menu">
    <div class="context-item" onclick="ui_showRenameNodeModal()">
        <img src="static/img/rename.svg" />
        Rename
    </div>
    <div class="context-item" onclick="ui_triggerDownload()">
        <img src="static/img/download.svg" />
        Download
    </div>
    <div
        id="context-restore"
        class="context-item"
        style="display: none"
        onclick="ui_showYesNoModal('Restore ')"
    >
        <img src="static/img/restore.svg" />
        Restore
    </div>
    <hr class="context-divider" />
    <div class="context-item text-danger" onclick="ui_showYesNoModal('Delete ')">
        <img src="static/img/trashcan.svg" />
        Delete
    </div>
</div>
