<div id="context-menu" class="context-menu">
    <div class="context-item" onclick="ui_triggerRename()">
        <img src="static/img/rename.svg"/>
        Rename
    </div>
    <div class="context-item" onclick="ui_triggerDownload()">
        <img src="static/img/arrow-down.svg"/>
        Download
    </div>
    <hr class="context-divider">
    <div class="context-item text-danger" onclick="ui_showYesNoModal('Delete ')">
        <img src="static/img/trashcan.svg"/>
        Delete
    </div>
</div>