<!-- New Folder dialog-->
<dialog id="modal-yesno" class="modal-root modal-sm modal-center">
    <form method="dialog" class="modal-header">
        <button class="button-close" title="Cancel">&#x2715;</button>
    </form>
    <div class="modal-body">
        <h3 id="yesno-question"></h3>
    </div>
    <footer style="justify-content:center;">
        <div class="button" onclick="ui_closeYesNoModal()">No</div>
        <div class="button" onclick="ui_submitDelete()">Yes</div>
    </footer>
</dialog>