<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=0.75" />
        <title>{% block title %}ExoServe{% endblock %}</title>
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.svg') }}" />

        <link href="{{ url_for('static', filename='css/variables.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/license.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/contextmenu.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/dropdown.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/file-table.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/modal.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/sidebar.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/toast.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/loading.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/settings.css') }}" rel="stylesheet" />

        <script src="{{ url_for('static', filename='js/network.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/breadcrumbs.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/carousel.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/e2ee.js') }}"></script>
        <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
        <script src="{{ url_for('static', filename='js/filetable.js') }}"></script>
        <script src="{{ url_for('static', filename='js/key-handler.js') }}"></script>
        <script src="{{ url_for('static', filename='js/search.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/ui.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/app.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/license.js') }}" defer></script>
    </head>

    <body>
        <div id="license-banner" class="license-banner license-hidden"></div>
        <div class="layout-main">
            <nav class="sidebar-root">
                <a
                    href="/home"
                    onclick="
                        event.preventDefault();
                        app_navigateTo('home');
                    "
                >
                    <img src="static/img/logo.svg" />
                </a>

                <hr />

                <div class="button" onclick="app_navigateTo('trash')" title="Trash">
                    <img src="static/img/trashcan.svg" />
                </div>

                <div
                    class="button sidebar-bottom"
                    onclick="app_navigateTo('settings')"
                    title="Settings"
                >
                    <img src="static/img/settings.svg" />
                </div>
            </nav>

            <main class="layout-session">
                <div class="area-search">
                    <input id="searchbar" type="text" placeholder="Search..." />
                    <pre id="key-name"></pre>
                </div>

                <div class="area-button" id="app-action-buttons">
                    <div class="dropdown-container" id="dropdown-upload">
                        <div
                            class="button"
                            onclick="ui_toggleDropdown('dropdown-upload')"
                            title="Upload"
                        >
                            <img src="static/img/upload.svg" />
                            Upload
                        </div>
                        <div class="dropdown-menu">
                            <div class="dropdown-item" onclick="ui_triggerFileUpload()">
                                <img src="static/img/upload-file.svg" />
                                Upload File
                            </div>
                            <div class="dropdown-item" onclick="ui_triggerFolderUpload()">
                                <img src="static/img/upload-folder.svg" />
                                Upload Folder
                            </div>
                        </div>
                    </div>

                    <div class="button" onclick="ui_showNewFolderModal()" title="New folder">
                        <img src="static/img/new-folder.svg" />
                        New folder
                    </div>
                </div>

                <div class="area-breadcrumb">
                    <nav class="breadcrumbs">
                        <ol id="breadcrumb-list"></ol>
                    </nav>
                </div>

                <div class="area-files">
                    <div class="file-table" id="file-table-container">
                        <div id="drop-zone-overlay" class="drop-zone-overlay hidden">
                            <div class="drop-zone-content">
                                <img src="static/img/upload.svg" />
                                <p>Drop upload</p>
                            </div>
                        </div>
                        <div id="loading-overlay" class="loading-overlay active">
                            <div class="loading-spinner"></div>
                            <div class="loading-text">Loading...</div>
                        </div>
                        <table class="table sortable-table">
                            <thead>
                                <tr></tr>
                                <colgroup id="file-colgroup"></colgroup>
                            </thead>
                            <tbody id="file-table-body"></tbody>
                        </table>
                    </div>
                </div>

                {%include "settings.html" %}
            </main>
        </div>

        {% include "modals/contextmenu.html" %} {% include "modals/newfolder.html" %} {% include
        "modals/preview.html" %} {% include "modals/renamenode.html" %} {% include
        "modals/yesno.html" %}
        <div id="toast-container" class="toast-container"></div>
    </body>
</html>
