<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}ExoServe{% endblock %}</title>
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">

        <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/dropdown.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/file-table.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/modal.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/sidebar.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/toast.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/variables.css') }}" rel="stylesheet">

        <script src="{{ url_for('static', filename='js/breadcrumbs.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/carousel.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/e2ee.js') }}"></script>
        <script src="{{ url_for('static', filename='js/filetable.js') }}"></script>
        <script src="{{ url_for('static', filename='js/key-handler.js') }}"></script>
        <script src="{{ url_for('static', filename='js/ui.js') }}" defer></script>
    </head>

    <body>
        {% block content %}{% endblock %}
        <div id="toast-container" class="toast-container"></div>
    </body>
</html>
